<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our Company focuses on creating an exclusive community<br>
    for developers and entrepreneurs to meet.<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
    Eos sequi recusandae repellendus, voluptas quas soluta sunt et magnam<br> 
    blanditiis, perspiciatis delectus quia quaerat optio accusantium non autem<br> 
    nam dolor eligendi.
    </p>
</div>